.welcome-wrapper {
    position: fixed;
    width: 100%;
    top: 64px;
    min-height: 300px;
    max-height: 300px;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    transition: background-image .2s ease-in-out;

}
.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-top: 330px;
}

.person {
    width: 200px;
    margin-right: 25px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
}

a.person:hover {
    text-decoration: underline;
}

.person .porn {
    position: relative;
}

.person .porn::before {
    content: "pornography";
    position: absolute;
    top: -2px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    background: red;
    width: 100%;
    color: white;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.person .porn img {
    filter: blur(3px) grayscale(1);
}

.person img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    min-height: 275px;
}



.main-person-container {
    margin-left: 50px;
}

.main-person-container li {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.main-person-container li:hover {
    color: #097ede;
    transform: scale(1.05);
}

.main-person-container li .porn {
    color: red;
}

.main-person-container li .blur {
    filter: blur(5px);
}
ul {
    list-style: disc;
}

.search {
    @media (max-width: 768px) {
        width: 80%;

        &:focus {
            width: 90%;
        }
    }
}