<a class="scroll-item" [routerLink]="['/details/', 'movie', trending.id]"><img
        src="https://image.tmdb.org/t/p/w1280{{ trending.poster_path }}" />
    <!---->
    <p class="title">
        {{ trending.title }}
    </p>
    <p>
        {{ trending.release_date }}
    </p>
    <div class="rating">
        <svg viewBox="0 0 24 24" style="width: 26px; height: 26px">
            <path fill="yellow"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
            </path>
        </svg><span class="vote-average">{{ trending.vote_average }}</span>
    </div>
</a>