h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}


.scroller {
    height: 285px;
    overflow-y: hidden;
    overflow-x: auto !important;
    display: flex;
    padding: 10px;
    width: 85%;
    margin: 20px auto;
}

.scroller {
    height: 285px;
    overflow-y: hidden;
    overflow-x: auto !important;
    display: flex;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}





.scroller::-webkit-scrollbar {
    background: #042038;
    border-radius: 50px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #0b3558;
    border-radius: 50px;
}