<a href="#" class="movie">
    <img src="https://image.tmdb.org/t/p/w1280/6DrHO1jr3qVrViUO6s6kFiAGM7.jpg">
    <div class="movie-info">
        <div class="overview-trailer-buttons-wrapper">
            <h4>Movie name</h4>
            <p class="show-overview">Overview</p>
        </div>
        <div class="overview">
            <p>overview details</p>
        </div>
        <div class="rating">
            <svg _ngcontent-nfa-c40="" viewBox="0 0 24 24" style="width: 26px; height: 26px;">
                <path _ngcontent-nfa-c40="" fill="yellow"
                    d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                </path>
            </svg>
            <span class="vote-average">7</span>
        </div>
    </div>
</a>