<div class="details-wrapper" *ngIf="detail"
    style="background-image: linear-gradient(rgb(3,37,65), rgb(3 37 65 / 85%)),url(https://image.tmdb.org/t/p/w1280{{detail.backdrop_path}});">

    <div class="main">
        <div class="poster-image">
            <img src="https://image.tmdb.org/t/p/w1280/{{detail.poster_path}}" alt="">
            <img *ngIf="!detail.poster_path"
                src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg"
                alt="">
        </div>

        <app-details-info [detail]="detail" [keywords]="keywords"></app-details-info>
    </div>

    <app-details-seasons *ngIf="detail.seasons" [detail]="detail"></app-details-seasons>
    <app-details-casts [mediaType]="mediaType" [Id]="Id"></app-details-casts>

</div>

<ng-container>
    <app-details-similar [similarMovies]="similarMovies"></app-details-similar>
</ng-container>