<a class="scroll-item" href="/details/movie/752623"><img
        src="https://image.tmdb.org/t/p/w1280/neMZH82Stu91d3iqvLdNQfqPPyl.jpg">
    <!---->
    <p class="title">The Lost City</p>
    <p>Mar 24, 2022</p>
    <div class="rating"><svg viewBox="0 0 24 24" style="width: 26px; height: 26px;">
            <path fill="yellow"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
            </path>
        </svg><span class="vote-average">6.9</span></div>
</a>