<a [routerLink]="['/details/', item.media_type , item.id]" class="card" *ngIf="item.media_type != 'person'">
    <img src="https://image.tmdb.org/t/p/w1280{{ item.poster_path}}" *ngIf="item.poster_path">
    <img *ngIf="!item.poster_path"
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">
    <div class="card-info">
        <div class="overview-trailer-buttons-wrapper">
            <h4>{{ item.title }}</h4>

            <p class="show-overview" #showOverview (mouseenter)="showOverview.classList.toggle('active')">
                Overview</p>
        </div>
        <div class="overview" [class.show]="showOverview.classList.contains('active')"
            (mouseleave)="showOverview.classList.remove('active')">
            <p>{{ item.overview }}</p>
        </div>
        <div class="rating">
            <svg _ngcontent-nfa-c40="" viewBox="0 0 24 24" style="width: 26px; height: 26px;">
                <path _ngcontent-nfa-c40="" fill="yellow"
                    d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                </path>
            </svg>
            <span class="vote-average">{{ item.vote_average }}</span>
        </div>
    </div>
    <p class="mediaType">{{ item.media_type}}</p>
</a>



<a href="#" class="card" *ngIf="item.media_type == 'person'">
    <img src="https://image.tmdb.org/t/p/w1280{{ item.profile_path}}" *ngIf="item.profile_path">
    <img *ngIf="!item.profile_path"
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">
    <div class="card-info">
        <div class="overview-trailer-buttons-wrapper">
            <h4>{{ item.name }}</h4>
        </div>
    </div>
    <p class="mediaType">{{ item.media_type}}</p>
</a>