<app-search (valueChange)="onValueChange($event)"></app-search>

<main id="main" *ngIf="multiSearchData">
    <ng-container *ngFor="let item of multiSearchData.results">
        <app-search-card [item]="item"></app-search-card>
    </ng-container>

    <ng-container *ngIf="multiSearchData">
        <div class="pagination-wrapper">
            <ngb-pagination (pageChange)="multiSearch(searchQuery,$event)" class="d-flex justify-content-center"
                [collectionSize]="multiSearchData.total_pages" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
                [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </ng-container>

</main>
<ng-container *ngIf="!multiSearchData">
    <app-trendings></app-trendings>
    <app-popular></app-popular>
    </ng-container>