<div class="similar-details-wrapper" *ngIf="similarMovies">
    <h1 *ngIf="similarMovies.results!=0">Similar {{mediaType == 'movie'?'movies':'TV shows'}}</h1>
    <main id="main">
        <a routerLink="/details/{{mediaType}}/{{obj.id}}" class="card" *ngFor="let obj of similarMovies.results">
            <img src="https://image.tmdb.org/t/p/w1280{{obj.poster_path}}" alt="{{obj.original_title}}">

            <div class="card-info">

                <div class="overview-trailer-buttons-wrapper">
                    <h4>{{obj.title?obj.title:obj.name}}
                        ({{(obj.release_date?obj.release_date:obj.first_air_date)|date:"yyyy"}})</h4>
                    <p class="show-overview" #showOverview (mouseenter)="showOverview.classList.toggle('active')">
                        Overview</p>
                </div>

                <div class="overview" #overview [class.show]="showOverview.classList.contains('active')"
                    (mouseleave)="showOverview.classList.remove('active')">
                    <p>{{obj.overview}}</p>
                </div>

                <div class="rating">
                    <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
                        <path fill="yellow"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                    </svg>
                    <span class="vote-average">{{obj.vote_average}}</span>
                </div>

            </div>
        </a>
    </main>
</div>

<!-- PAGINATION-->