.welcome-wrapper {
    
    background-image: linear-gradient(rgba(3, 37, 65, .92), rgba(3, 37, 65, .85)),
        url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/7VrRna8S3x6xbijooeBmxqvHXiu.jpg");
    transition: background-image .2s ease-in-out;
}

.content-wrapper {

    width: 50%;
    text-align: center;
}

.content-wrapper .search {
    background-color: initial;
    color: #FFF;
    border: 2px solid rgba(214, 218, 223, .1803921568627451);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    width: 40%;
    transition: all .6s ease-in-out;
}


.content-wrapper .search:not(:first-of-type) {
    margin-left: 10px;
}

.content-wrapper .search::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.content-wrapper .search:focus {
    outline: none;
    background-color: #03213a;
    width: 55%;
}
