<h1>Trending</h1>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink href="#" class="nav-link" (click)="getTrendingMoviesToday()"
      >Today</a
    >
  </li>
  <li ngbNavItem>
    <a
      ngbNavLink
      href="#"
      class="nav-link"
      (click)="getTrendingMoviesThisWeek()"
      >This week</a
    >
  </li>
</ul>
<div class="tab-content">
  <div class="scroller">
    <ng-container *ngFor="let trending of trendings">
      <app-trending-item [trending]="trending"></app-trending-item>
    </ng-container>

  </div>
</div>
